---
import { TAGS } from "../lib/tags";
import Badges from "./ui/Badges.astro";

const EXPERIENCIA = [
  {
    date: "Enero 2024 - Enero 2026",
    title: "Desarrollador Frontend",
    place: "UAM-I",
    description:
      "Desarrollé una aplicación web para la gestión integral de insumos, pacientes y expedientes médicos utilizando Next.js (React), participando también en la fase inicial del desarrollo Back-End con Spring Boot.",
    badages: [ TAGS.NEXTJS, TAGS.REACT, TAGS.TYPESCRIPT, TAGS.SPRINGBOOT, TAGS.JAVA, TAGS.POSTGRESQL, TAGS.MONGODB, TAGS.FIGMA],
  },
  {
    date: "Febrero 2024 - Agosto 2024",
    title: "Desarrollador Backend",
    place: "UAM-I",
    description:
      "Colaboré en el desarrollo de un sistema de gestión de préstamos de dispositivos, para reemplazar un software obsoleto.",
    badages: [TAGS.LARAVEL],
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
   {EXPERIENCIA.map((item) => 
  (
<li class="mb-20 ms-4">
  <!-- dot -->
  <div
    class="absolute w-3 h-3 bg-emerald-500 rounded-full mt-1.5 -start-1.5 border border-green-300"
  >
  </div>
  <div class="grid md:grid-cols-2 gap-4">
    <div>
      <h3 class="font-bold capitalize text-emerald-500 text-xl">
        {item.title}
      </h3>

      <h4 class="font-semibold">{item.place}</h4>
      <time
        class="text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >{item.date}</time
      >
      
      <div class="mt-3">
        <Badges badges={item.badages} /> 
      </div>
    </div>
    <p class="font-normal text-pretty text-gray-500 dark:text-gray-400 mt-8">
      {item.description}
    </p>
  </div>
</li>
  ))}
</ol>
