---
import { Image } from "astro:assets";
import boliUAMImage from "../assets/boliUAM.png";
import waifu from "../assets/waifu.png";
import experimento from "../assets/experimento.png";
import SIIPI from "../assets/siipi-next.png";
import React from "./icons/React.astro";
import Node from "./icons/Node.astro";
import Button from "./Button.astro";
import Github from "./icons/Github.astro";
import Link from "./icons/Link.astro";
import Nextjs from "./icons/Nextjs.astro";
import Typescript from "./icons/Typescript.astro";

const TAGS = {
  REACT: {
    name: "React",
    icon: React,
  },
  NODE: {
    name: "Node",
    icon: Node,
  },
  NEXTJS: {
    name: "Next.js",
    icon: Nextjs,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: Typescript,
  },
};

const projects = [
  {
    name: "boliUAM",
    description:
      "Aplicación web para que los alumnos de mi carrera lleven un registro de su progreso académico, facilitando la visualización de las materias aprobadas y pendientes.",
    image: boliUAMImage,
    code: "https://github.com/AxelHuerta/boliUAM",
    preview: "https://boliuam.vercel.app/",
    badages: [TAGS.REACT, TAGS.TYPESCRIPT],
  },
  {
    name: "Plataforma de Experimentación Psicológica – Colaboración con Carrera de Psicología Social",
    description:
      "Aplicación web para un experimento psicológico en el que los participantes respondían preguntas y podían ver las respuestas de otros usuarios en tiempo real.",
    image: experimento,
    code: "https://github.com/AxelHuerta/metodologia-admin",
    badages: [TAGS.REACT, TAGS.NODE, TAGS.TYPESCRIPT],
  },
  {
    name: "Waifu Randomaizer",
    description:
      "Aplicación web interactiva que consume la Waifu API para mostrar imágenes aleatorias de waifus anime.",
    image: waifu,
    code: "https://github.com/AxelHuerta/WaifuRandomizer",
    preview: "https://waifu-randomizer.vercel.app/",
    badages: [TAGS.REACT, TAGS.TYPESCRIPT],
  },
  {
    name: "SIIPI-NEXT",
    description:
      "SIIPI-NEXT es una reimaginación del sistema SIIPI, una plataforma de visualización de datos de la UAM-I",
    image: SIIPI,
    code: "https://github.com/AxelHuerta/siipi-next",
    preview: "https://siipi-next.vercel.app/login",
    badages: [TAGS.NEXTJS, TAGS.REACT, TAGS.TYPESCRIPT],
  },
];
---

<section class="space-y-12">
  {
    projects.map((project) => (
      <div class="flex flex-col md:flex-row gap-6">
        <div class="relative overflow-clip rounded-2xl">
          <Image
            src={project.image}
            alt={project.name}
            class="md:max-w-xs rounded-2xl border-[1px] border-neutral-800 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-120"
          />
        </div>
        <div class="space-y-4">
          <h3 class="text-xl font-bold text-green-300">{project.name}</h3>
          <div class="flex gap-2">
            {project.badages.map((badage) => (
              <span
                class={`flex items-center gap-1 px-2 py-1 text-xs font-medium text-white border-[1px] border-gray-700 rounded-full`}
              >
                <badage.icon class="w-4 h-4" />
                {badage.name}
              </span>
            ))}
          </div>
          <p class="text-pretty">{project.description}</p>
          <div class="flex gap-3">
            {project.code && (
              <a href={project.code}>
                <Button>
                  <span class="flex items-center gap-1 cursor-pointer">
                    <Github class="w-4 h-4" />
                    Código
                  </span>
                </Button>
              </a>
            )}

            {project.preview && (
              <a href={project.preview}>
                <Button>
                  <span class="flex items-center gap-1 cursor-pointer">
                    <Link class="w-4 h-4" />
                    Preview
                  </span>
                </Button>
              </a>
            )}
          </div>
        </div>
      </div>
    ))
  }
</section>
